<br>
<br>
<br>

<h2 id="excuses-header">Check out your cohortmate's excuses below...</h2>

<% @excuses.each do |excuse|%>
  <a class="main-excuses" href="/excuses/<%=excuse.id%>"><%= excuse.title %> | <%= excuse.user.username %></a>
  <div class="votes-center">Vote Count:<span class="vote_count"><%=excuse.votes.count%></span><br>
  <%= excuse.content %></div>
  <% if current_user.id == excuse.user_id %>
    <a class="fix-excuses" href="/excuses/<%= excuse.id %>/edit">Update Your Excuse</a>
    <form class="single-btn" action="/excuses/<%= excuse.id %>/delete" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Excuse">
    </form>
  <% end %>
  <br><br>
<% end %>

